<ngx-spinner bdColor = "rgb(1,21,24)" size = "medium" color = "#fff" type = "ball-pulse" [fullScreen] = "true" [disableAnimation] = "true">
  <p style="color: #E7EC32; font-size: 40px"> Loading... </p>
</ngx-spinner>

<section class="Info-Character">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="img-container">
          <img src="{{this.character.image}}" alt="character-image" class="img">
        </div>
      </div>
      <div class="col">
        <div class="info-container">
          <p>Name: <span>{{this.character.name}}</span></p>
          <p>Status: <span>{{this.character.status}}</span></p>
          <p>Species: <span>{{this.character.species}}</span></p>
          <p>Gender: <span>{{this.character.gender}}</span></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="button-character">
        <a href="getInfoRandomCharacter()">
          <img src="../../../assets/Button-random-character2.psd.png" alt="" class="button-img">
        </a>
      </div>-->
    </div>
  </div>
</section>
